@implements IDisposable
@rendermode InteractiveServer 

@using AndreGoepel.Marten.Identity.Roles
@using Radzen.Blazor
@using global::Marten

@inject IQuerySession QuerySession;
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @* <a class="navbar-brand" href="">André Göpel - Members</a> *@
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @if (SetupComplete)
        {
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />

            <AuthorizeView Roles="Administrator">
                <Authorized>
                    <RadzenPanelMenuItem Text="Administration" Icon="" >
                        <RadzenPanelMenuItem Text="Users" Path="Administration/Users" />
                        <RadzenPanelMenuItem Text="Roles" Path="Administration/Roles" />
                    </RadzenPanelMenuItem>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView>
                <Authorized>
                        <RadzenPanelMenuItem Text="Account">
                            <RadzenPanelMenuItem Text="Profile" Path="Account/Manage/Profile" />
                            <RadzenPanelMenuItem Text="Email" Path="Account/Manage/Email" />
                            <RadzenPanelMenuItem Text="Password" Path="Account/Manage/ChangePassword" />
                            <RadzenPanelMenuItem Text="Two-factor authentication" Path="Account/Manage/TwoFactorAuthentication" />
                            <RadzenPanelMenuItem Text="Passkeys" Path="Account/Manage/Passkeys" />
                            <RadzenPanelMenuItem Text="Personal data" Path="Account/Manage/PersonalData" />
                        </RadzenPanelMenuItem>

                   <div class="nav-item px-3">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Register">
                            <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Login">
                            <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>

        </RadzenPanelMenu>

    }
    </nav>
</div>

@code {
    private string? currentUrl;

    private bool SetupComplete = false;

    protected override async Task OnInitializedAsync()
    {
        SetupComplete = await CheckSetupCompleted();

        var currentPath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);

        if (SetupComplete == false && !currentPath.Equals("setup", StringComparison.OrdinalIgnoreCase))
            NavigationManager.NavigateTo("/Setup");

        await base.OnInitializedAsync();
    }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private async Task<bool> CheckSetupCompleted() => await QuerySession.Query<Role>().AnyAsync();
}

