@using AndreGoepel.Marten.Identity.Users
@using AndreGoepel.MembersArea
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Administration/Users" Match="NavLinkMatch.All">Users</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Administration/Roles" Match="NavLinkMatch.All">Roles</NavLink>
    </li>
</ul>