@page "/Account/ConfirmEmailChange"

@using System.Text
@using AndreGoepel.Marten.Identity.Users
@using AndreGoepel.MembersArea
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Radzen

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject IdentityRedirectManager RedirectManager
@inject NotificationService NotificationService

<PageTitle>Confirm email change</PageTitle>

<h1>Confirm email change</h1>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Email is null || Code is null)
        {
            RedirectManager.RedirectToWithStatus(
                "Account/Login", "Invalid data", "Invalid email change confirmation link.", NotificationSeverity.Error);
            return;
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Unable to load user with ID '{UserId}'.");
            return;
        }

        var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
        var result = await UserManager.ChangeEmailAsync(user, Email, code);
        if (!result.Succeeded)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", "Error changing email.");
            return;
        }

        // In our UI email and user name are one and the same, so when we update the email
        // we need to update the user name.
        var setUserNameResult = await UserManager.SetUserNameAsync(user, Email);
        if (!setUserNameResult.Succeeded)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", "Error changing user name.");
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        NotificationService.Notify(NotificationSeverity.Success, "Email change confirmed", "Thank you for confirming your email change.");
    }
}
