@page "/Account/Login"
@using AndreGoepel.Marten.Identity.Users
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Radzen.Blazor

@inject SignInManager<User> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<RadzenStack class="rz-p-0 rz-p-md-6">
    <RadzenHeading Text="Log in" />

    <LoginForm />
    
    <div class="d-flex flex-column">
        <EditForm EditContext="editContext" method="post" OnSubmit="LoginUser" FormName="login">
        <PasskeySubmit 
            Operation="PasskeyOperation.Request" 
            Name="Input.Passkey" 
            EmailName="Input.Email" class="btn btn-link mx-auto">Log in with a passkey</PasskeySubmit>
        </EditForm>
    </div>
</RadzenStack>
    

@code {


    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private EditContext editContext = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        editContext = new EditContext(Input);

        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    private async Task LoginUser()
    {
        if (!string.IsNullOrEmpty(Input.Passkey?.Error))
        {
            // ShowMessage(model.Passkey.Error, AlertStyle.Danger);
            return;
        }

        SignInResult? result = null;
        if (!string.IsNullOrEmpty(Input.Passkey?.CredentialJson))
        {
            result = await SignInManager.PasskeySignInAsync(Input.Passkey.CredentialJson);
        }
       
        if (result?.Succeeded == true)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result?.IsLockedOut == true)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            // ShowMessage("Invalid login attempt.", AlertStyle.Danger);
        }
    }

    private sealed class InputModel
    {
        public PasskeyInputModel? Passkey { get; set; }
    }
}
