@page "/Account/Manage/PersonalData"

@using AndreGoepel.Marten.Identity.Users
@using AndreGoepel.MembersArea
@using Microsoft.AspNetCore.Identity
@using Radzen
@using Radzen.Blazor

@inject UserManager<User> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Personal Data</PageTitle>

<RadzenStack class="rz-p-0 rz-p-md-6">
    <RadzenHeading Text="Personal Data" />

    Your account contains personal data that you have given us. This page allows you to download or delete that data.

    <RadzenAlert Text="Deleting this data will permanently remove your account, and this cannot be recovered."
                 AlertStyle="AlertStyle.Warning"
                 AllowClose="false" />

    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <RadzenButton ButtonType="ButtonType.Submit" Text="Download" />
        </form>
        <RadzenLink Path="Account/Manage/DeletePersonalData" Text="Delete personal data" />
    </RadzenStack>
</RadzenStack>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user  = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
        }
    }
}
