@page "/Account/Manage/TwoFactorAuthentication"

@using AndreGoepel.Marten.Identity.Users
@using AndreGoepel.MembersArea
@using AndreGoepel.MembersArea.Components.Shared
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Identity
@using Radzen
@using Radzen.Blazor

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject IdentityRedirectManager RedirectManager
@inject NavigationManager NavigationManager

<PageTitle>Two-factor authentication (2FA)</PageTitle>

<StatusMessage />
<h3>Two-factor authentication (2FA)</h3>
@if (canTrack)
{
    if (is2faEnabled)
    {
        if (recoveryCodesLeft == 0)
        {
            <div class="alert alert-danger">
                <strong>You have no recovery codes left.</strong>
                <p>You must <RadzenLink Path="Account/Manage/GenerateRecoveryCodes" Text="generate a new set of recovery codes" /> before you can log in with a recovery code.</p>
            </div>
        }
        else if (recoveryCodesLeft == 1)
        {
            <div class="alert alert-danger">
                <strong>You have 1 recovery code left.</strong>
                <p>You can <RadzenLink Path="Account/Manage/GenerateRecoveryCodes" Text="generate a new set of recovery codes" />.</p>
            </div>
        }
        else if (recoveryCodesLeft <= 3)
        {
            <div class="alert alert-warning">
                <strong>You have @recoveryCodesLeft recovery codes left.</strong>
                <p>You should <RadzenLink Path="Account/Manage/GenerateRecoveryCodes" Text="generate a new set of recovery codes" />.</p>
            </div>
        }

        if (isMachineRemembered)
        {
            <form style="display: inline-block" @formname="forget-browser" @onsubmit="OnSubmitForgetBrowserAsync" method="post">
                <AntiforgeryToken />
                <button type="submit" class="btn btn-primary">Forget this browser</button>
            </form>
        }

        <LinkButton Text="Disable 2FA" Path="Account/Manage/Disable2fa" />
        <LinkButton Text="Reset recovery codes" Path="Account/Manage/GenerateRecoveryCodes" />
    }

    <h4>Authenticator app</h4>
    @if (!hasAuthenticator)
    {
        <LinkButton Text="Add authenticator app" Path="Account/Manage/EnableAuthenticator" />
    }
    else
    {
        <LinkButton Text="Set up authenticator app" Path="Account/Manage/EnableAuthenticator" />
        <LinkButton Text="Reset authenticator app" Path="Account/Manage/ResetAuthenticator" />
    }
}
else
{
    <div class="alert alert-danger">
        <strong>Privacy and cookie policy have not been accepted.</strong>
        <p>You must accept the policy before you can enable two factor authentication.</p>
    </div>
}

@code {
    private bool canTrack;
    private bool hasAuthenticator;
    private int recoveryCodesLeft;
    private bool is2faEnabled;
    private bool isMachineRemembered;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        canTrack = HttpContext.Features.Get<ITrackingConsentFeature>()?.CanTrack ?? true;
        hasAuthenticator = await UserManager.GetAuthenticatorKeyAsync(user) is not null;
        is2faEnabled = await UserManager.GetTwoFactorEnabledAsync(user);
        isMachineRemembered = await SignInManager.IsTwoFactorClientRememberedAsync(user);
        recoveryCodesLeft = await UserManager.CountRecoveryCodesAsync(user);
    }

    private async Task OnSubmitForgetBrowserAsync()
    {
        await SignInManager.ForgetTwoFactorClientAsync();

        RedirectManager.RedirectToCurrentPageWithStatus(
            "Browser forgotten", 
            "The current browser has been forgotten. When you login again from this browser you will be prompted for your 2fa code.");
    }
}
