@implements IDisposable

@using AndreGoepel.Marten.Identity
@using AndreGoepel.Marten.Identity.Blazor
@using AndreGoepel.Marten.Identity.Blazor.Features
@using global::Marten

@inject IQuerySession QuerySession
@inject IIdentityFeatureProvider Features
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Options.IOptions<AppFoundationLayoutOptions> LayoutOptions

@if (SetupComplete)
{
    <NavLink class="ag-nav-item ag-home" href="dashboard" Match="NavLinkMatch.All">⌂&nbsp;&nbsp;Home</NavLink>

    @* Host-contributed entries. Contributed menus should render ag-nav-item /
       ag-nav-section markup to match the design shell. *@
    @if (Layout.Menu is not null)
    {
        <DynamicComponent Type="Layout.Menu" />
    }

    <AuthorizeView>
        <Authorized>
            <div class="ag-nav-section">ACCOUNT</div>
            <div class="ag-nav-group">
                <NavLink class="ag-nav-item" href="Account/Manage/Profile">Profile</NavLink>
                <NavLink class="ag-nav-item" href="Account/Manage/Email">Email</NavLink>
                <NavLink class="ag-nav-item" href="Account/Manage/ChangePassword">Password</NavLink>
                @if (twoFactorEnabled)
                {
                    <NavLink class="ag-nav-item" href="Account/Manage/TwoFactorAuthentication">Two-factor authentication</NavLink>
                }
                @if (passkeyEnabled)
                {
                    <NavLink class="ag-nav-item" href="Account/Manage/Passkeys">Passkeys</NavLink>
                }
                <NavLink class="ag-nav-item" href="Account/Manage/PersonalData">Personal data</NavLink>
            </div>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Administrator">
        <Authorized>
            <div class="ag-nav-section">ADMINISTRATION</div>
            <div class="ag-nav-group">
                <NavLink class="ag-nav-item" href="Administration/UserCleanup">User cleanup</NavLink>
                <NavLink class="ag-nav-item" href="Administration/Users">Users</NavLink>
                <NavLink class="ag-nav-item" href="Administration/Roles">Roles</NavLink>
                <NavLink class="ag-nav-item" href="Administration/LoginFeatures">Login features</NavLink>
                <NavLink class="ag-nav-item" href="Administration/EmailSettings">Email settings</NavLink>
            </div>
        </Authorized>
    </AuthorizeView>
}
else
{
    <NavLink class="ag-nav-item ag-home" href="Setup" Match="NavLinkMatch.All">Setup</NavLink>
}

@code {
    private bool SetupComplete;
    private bool twoFactorEnabled = true;
    private bool passkeyEnabled = true;

    private AppFoundationLayoutOptions Layout => LayoutOptions.Value;

    protected override async Task OnInitializedAsync()
    {
        SetupComplete = await SetupCompletion.IsCompleteAsync(QuerySession);

        var features = await Features.GetAsync();
        twoFactorEnabled = features.IsEnabled(IdentityFeature.TwoFactor);
        passkeyEnabled = features.IsEnabled(IdentityFeature.Passkey);
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e) =>
        StateHasChanged();

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
