@page "/admin"

@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated as Admin</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!

    <h2>Roles:</h2>
    <ul>
        @foreach (var role in context.User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value))
        {
            <li>@role</li>
        }
    </ul>
</AuthorizeView>
